body{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 300vh;
  margin: 0;
  padding: 0;
  background-color:rgb(27, 27, 27);
  
}
h1{
    color:rgb(200, 204, 204);
    text-align: center;  
    font-size: 48px;
}

p{
    color:rgb(200, 204, 204);
    text-align: left;
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
    white-space:normal;
    font-size: 20px;
    
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover{
    text-decoration: none;
}

img{
  padding-top: 75px;
  width: 500px;
  height: auto;
}

