h1{
    color:darkslategrey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    color:black;
    text-align: left;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 200px;
    padding-right: 200px;
    white-space: normal;

    margin: 0;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover{
    text-decoration: none;
}

